@font-face {
  font-family: PF Din Display Pro Light, Arial, Verdana, sans-serif;
  src: url('./fonts/PFDinDisplayPro-Light.eot');
  src: url('./fonts/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype');
  src: url('./fonts/PFDinDisplayPro-Light.woff') format('woff');
  src: url('./fonts/PFDinDisplayPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PF Din Display Pro Medium, Arial, Verdana, sans-serif;
  src: url('./fonts/PFDinDisplayPro-Medium.eot');
  src: url('./fonts/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype');
  src: url('./fonts/PFDinDisplayPro-Medium.woff') format('woff');
  src: url('./fonts/PFDinDisplayPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1216px;
  margin: auto;
}

body {
  font-family: PF Din Display Pro Light, Arial, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 28px;
}

.offer {
  background: url("../images/bg-top.png") no-repeat;
  background-size: cover;
  padding-top: 265px;
  padding-bottom: 178px;
  padding-right: 15px;
  padding-left: 15px;
}

.offer--tittle {
  font-size: 48px;
  text-align: center;
  color: #171717;
}

.offer--methods {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
}

.offer--method {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 370px;
  height: 370px;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.502);
  transition: all .34s ease-in-out;
}

.offer--method:hover {

}

.offer--method img {
  padding-bottom: 25px;
}

.offer--text {
  padding-bottom: 20px;
  font-size: 28px;
  color: #242424;
}

.method-attract .offer--text {
  padding-bottom: 33px;
}


.tabs > .container {
  display: flex;
  justify-content: space-between;
  height: 115px;
  border-bottom: 1px solid rgba(181, 181, 181, 0.745);
}

.tabs--content {
  height: 115px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid transparent;
}

.tabs--text {
  text-align: center;
  color: #2e2e2e;
}

.main {
  background: url("../images/bg-bottom.png");
  background-position: 100%;
}


 .content--text {
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  max-width: 760px;
}

.content--faq {
  margin-top: 29px;
  font-size: 24px;
  color: #171717;
}

.content--list {
  margin-top: 15px;
  max-width: 760px;
  counter-reset: myCounter;
}

.content-item {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  vertical-align: middle;
}

.content-item:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: #00b596;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  font-size: 32px;
}

.content--button {
  margin-bottom: 245px;
  width: 160px;
  height: 45px;
  font-size: 18px;
  color: #feffff;
  background-color: rgb(0, 158, 130);
  border-radius: 3px;
  border: none;
}

.tabs > .container {
  display: flex;
}

.active-tab {
  border-bottom: 3px solid rgba(0, 158, 130, 0.5);
  color: rgba(0, 158, 130, 0.5);
}

.active-circle {
  border: 3px solid rgba(0, 158, 130, 0.5);
}

.content > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 80px;
}

.svg-circle {
  position: absolute;
}

.animation-mode {
  stroke-dashoffset: 1067.6;
  stroke-dasharray: 1067.6;
  animation: circle-default 2s ease-in-out;
  animation-fill-mode: forwards;
}

.stroke-static {
  stroke: #009e82;
}

.animation-mode-circle {
  stroke: #009e82;
  stroke-dashoffset: 1067.6;
  stroke-dasharray: 1067.6;
  animation: circle-default 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes circle-default {
  to {
    stroke-dasharray: 2138.6;
  }
}

.content_2,
.content_3 {
  display: none;
}

.content_2 .content-item:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: red;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  font-size: 32px;
}

.content_3 .content-item:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: blue;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  font-size: 32px;
}

.content_2 .content--button {
  background-color: red;
  border-radius: 3px;
  border: none;
}

.content_3 .content--button {
  background-color: blue;
  border-radius: 3px;
  border: none;
}

@media (max-width: 1700px) {
  .main {
    background: url("../images/bg-bottom.png");
    background-position: 61%
  }

  .offer--method {
    width: 220px;
    height: 220px;
  }

  .svg-circle {
    width: 220px;
    height: 220px;
  }

  circle {
    transform: scale(0.6,0.6);
  }

  .offer--methods {
    justify-content: space-evenly;
  }

  .offer--text {
    font-size: 20px;
  }

  .offer--method img {
    padding-bottom: 15px;
  }

  .method-attract .offer--text {
    padding-bottom: 13px;
  }
}


@media (max-width: 1023.99px) {
  
  .offer--tittle {
    font-size: 40px;
  }
  
  .tabs--text {
    font-size: 20px;
  }

  .main {
    background: url(../images/bg-bottom.png);
    background-position: 30%;
  }
}

@media (max-width: 768px) {
  
  .content_3,
  .content_2,
  .content_1,
  .tabs {
    display: none;
  }

  .offer--tittle {
    font-size: 32px;
  }

  .offer--methods {
    flex-direction: column;
  }

  .offer--method {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    border-radius: 0%;
    width: 100%;
    height: 70px;
  }

  .offer--method img {
    width: 50px;
    padding: 0;
    padding-left: 10px;
  }

  .offer--text {
    font-size: 15px;
    padding: 0;
    padding-left: 10px;
  }

  .method-attract .offer--text {
    padding-bottom: 0;
  }

  .content>.container {
    margin-top: 0;
    padding-top: 30px;
    max-height: 900px;
  }
  
  .offer--method {
    position: relative;
  }

  .offer--method:after {
    content: url(../images/triangle.png);
    position: absolute;
    top: 8px;
    right: 10px;
  }

  .method-trade.clicked:after {
    transition: transform 0.1s linear;
    transform: rotate(180deg) translateY(-4px);
    transform-origin: center center;
  }
  
  .method-invest.clicked:after {
    transition: transform 0.1s linear;
    transform: rotate(180deg) translateY(-4px);
    transform-origin: center center;
  }

  .method-attract.clicked:after {
    transition: transform 0.1s linear;
    transform: rotate(180deg) translateY(-4px);
    transform-origin: center center;
  }

  .content-tab,
  .content-tab1,
  .content-tab2,
  .content-tab3 {
    display: none;
  }

  .active-content {
    display: block;
  }

  .offer {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .content--text {
    margin-top: 50px;
    font-size: 16px;
  }

  .content_3 {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .content--button {
    margin-bottom: 50px;
  }

  .content-item {
    font-size: 16px;
  }
}